* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --first-color: #e93e35;
  --second-color: #d2c7be;
  --hover-color: rgb(209, 33, 24);
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  background-color: #333;
}

.wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px;
  width: 800px;
  background-image: radial-gradient(circle, #2b2c2e 0%, #191919 93%);
  border-radius: 8px;
  -webkit-box-shadow: 5px, 5px, 10px black;
          box-shadow: 5px, 5px, 10px black;
  color: #fff;
  overflow: hidden;
}

.info i {
  font-size: 24px;
  position: absolute;
  top: 6px;
  padding: 20px;
  color: var(--second-color);
  cursor: pointer;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.info .fa-question {
  right: 14px;
}

.info .fa-paint-brush {
  right: 60px;
}

.info i:hover {
  color: var(--first-color);
}

h1 {
  margin-bottom: 20px;
  font-style: 60px;
  font-weight: lighter;
}

.stopwatch {
  font-size: 72px;
  color: var(--first-color);
}

.time {
  visibility: hidden;
  color: var(--second-color);
  font-size: 22px;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 30px;
}

button {
  margin: 10px;
  padding: 10px 20px;
  width: 20%;
  color: #fff;
  font-size: 22px;
  background-color: transparent;
  border: 1px solid var(--first-color);
  cursor: pointer;
  border-radius: 5px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.history {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-transform: uppercase;
}

button:hover,
button:focus {
  background-color: var(--first-color);
  outline: none;
}

.time-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 300px;
  font-size: 22px;
  color: var(--second-color);
}

.time-list span {
  font-weight: bold;
}

.modal-shadow {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 600px;
  height: 360px;
  padding: 30px 60px;
  border-radius: 15px;
  background-color: #202020;
  color: #fff;
}

.modal h3 {
  margin-bottom: 20px;
  font-size: 30px;
}

.modal p {
  margin-bottom: 10px;
  margin-left: 20px;
  font-size: 20px;
}

.modal i, .modal strong {
  color: var(--first-color);
}

.modal .close {
  display: block;
  margin: 40px auto 0;
  width: 200px;
  background-color: #333;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.modal .close:hover {
  background-color: #111;
}

.modal-animation {
  -webkit-animation: show-modal 1s;
          animation: show-modal 1s;
}

@-webkit-keyframes show-modal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes show-modal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 100px;
  right: -100px;
  width: 64px;
  height: 220px;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.color {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: background-color .5s, -webkit-box-shadow .5s;
  transition: background-color .5s, -webkit-box-shadow .5s;
  transition: background-color .5s, box-shadow .5s;
  transition: background-color .5s, box-shadow .5s, -webkit-box-shadow .5s;
}

.show-colors {
  -webkit-transform: translateX(-110px);
          transform: translateX(-110px);
}

.one {
  background-color: #fa1406;
  -webkit-box-shadow: 0 0 8px #fa1406;
          box-shadow: 0 0 8px #fa1406;
}

.two {
  background-color: #06adfa;
  -webkit-box-shadow: 0 0 8px #06adfa;
          box-shadow: 0 0 8px #06adfa;
}

.three {
  background-color: #00ff2a;
  -webkit-box-shadow: 0 0 8px #00ff2a;
          box-shadow: 0 0 8px #00ff2a;
}

.one:hover {
  background-color: #d12118;
  -webkit-box-shadow: 0 0 16px #fa1406;
          box-shadow: 0 0 16px #fa1406;
}

.two:hover {
  background-color: #1c91c7;
  -webkit-box-shadow: 0 0 16px #06adfa;
          box-shadow: 0 0 16px #06adfa;
}

.three:hover {
  background-color: #1cd13a;
  -webkit-box-shadow: 0 0 16px #00ff2a;
          box-shadow: 0 0 16px #00ff2a;
}
/*# sourceMappingURL=style.css.map */